@charset "UTF-8";

.joinbtn input{
	display: block;
	height: 36px;
	border: none 0;
    line-height: 36px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    background: #476fad;
    cursor: pointer;
    
    margin-right: 6px;
}
.joinbtn1 input{
	display :inline-block;
}